:root{
    --color-negative-verylight: rgba(4,5,5,.5);
    --color-negative-light: rgba(4,5,5,.8);
    --color-negative: #000;
    --color-second: #4b74c5;
    --color-first: #fd5ea9;
    --color-zero: #fff;
}